// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 20px 50px;
  width: 60vw;
}

li {
  text-decoration: none;
  position: relative;
}

h1 {
  margin-bottom: 30px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  height: 40px;
}

.fa-trash-alt {
  position:absolute;
  right: 20px;
  top: 15px;
}

.fa-pencil-alt {
  position:absolute;
  right: 50px;
  top: 15px;
}
